<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Información</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-icon name="person-circle-outline" style="font-size: 120px;"></ion-icon>
          </ion-col>
          <ion-col size="6" style="text-align: right;">
            <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="aclass" errorCorrectionLevel="L">
            </ngx-qrcode>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      Guillermo
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      Fink
    </ion-item>
    <div *ngIf="changePw">
      <ion-item>
        <ion-label>Contraseña anterior:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nueva contraseña:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Repetir contraseña:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" (click)="showModif()">Cancelar</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" (click)="cambiarPw()">Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-button *ngIf="!changePw" expand="block" (click)="showModif()">Modificar Contraseña</ion-button>
    <ion-item>
      <ion-label>Contactos recientes</ion-label>
      <ion-badge slot="end">22</ion-badge>
    </ion-item>

    <ion-list lines="full">
      <ion-list-header>
        Últimos 5 contactos
      </ion-list-header>
      <div *ngFor="let user of users">
        <ion-item-sliding>
          <ion-item>
            <ion-label>{{user.nombre}} {{user.apellido}}</ion-label>
          </ion-item>
          <ion-item-options slide="end">
            <ion-item-option (click)="nuevoContacto(user.nombre)">
              <ion-icon name="create-outline"></ion-icon>
              <span> Nuevo contacto</span>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </ion-item-group>
</ion-content>