<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>


      <ion-list>
        <ion-item>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label (click)="goto('user')">Mi perfil</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>DashBoard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button expand="full" color="secondary">Boton de prueba</ion-button>
      <ion-button expand="full" (click)="startScan()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Scan
      </ion-button>
      <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
      <video #video [hidden]="!scanActive" width="100%"></video>

      <canvas #canvas hidden></canvas>

      <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancelar
      </ion-button>

      <ion-card *ngIf="scanResult">
        <ion-card-header>
          <ion-card-title>Código QR (en test)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{scanResult}}
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>