#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
/*
ion-content{
  --ion-background-color:#fff;
  --background: url('../../assets/bkg3.png') no-repeat  center / cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
*/