<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact-Track
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact-Track</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
     <ion-row>
       <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="usuario"></ion-input>
        </ion-item>
       </ion-col>
       <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
       </ion-col>
     </ion-row> 
     <p style="margin-top: 10%;">No tenes cuenta? <a href="">Registrate!</a></p>
    </ion-grid>
    
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
   
  </ion-toolbar>
</ion-footer>